.navbar {
  -moz-transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* width: 100%; */
  width: 100vw;
  /* height: 50px;
  line-height: 50px; */
  height: 80px;
  line-height: 80px;
  /* background: #95a5a6;
   */
  background: transparent;
  position: fixed;
  top: 0;

  /* căn giữa */
  /* left: 0; */
  left: 50%;
  transform: translateX(-50%);
  /* color: #fff; */
  text-align: center;
}

.navbar.stick {
  /* height: 50px;
  line-height: 50px; */
  height: 80px;
  line-height: 80px;
}

.navbar.stick.visible {
  /* background-color: #e74c3c; */
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}

.navbar.stick.hidden {
  /* top: -50px; */
  top: -80px;
}