@import "tailwindcss";

/** Theme **/
@theme {
  /* Screens */
  --breakpoint-sm: 30rem; /*480px*/
  --breakpoint-md: 48rem; /*768px*/
  --breakpoint-lg: 80rem; /*1280px*/
  --breakpoint-xl: 87.5rem; /*1400px*/
  --breakpoint-2xl: 96rem; /*1536px*/

  /* font */
  --font-lobster: "Lobster", serif;
  --font-inter: "Inter", sans-serif;
}
